<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PCDiagramDefinition -->
      <package
            uri="http://org.pc.definition.diagram/1.0"
            class="pcdef.PcdefPackage"
            genModel="model/PCDiagramDefinition.genmodel"/>
   </extension>

</plugin>
